<div class="container" >
    <div class="row">
      <div class="col-md-8"   style="position: fixed;">
         
        <form (ngSubmit)="save()" class="form" >
          <strong>destinacija</strong>
          <select   [(ngModel)]="travelsToAdd.destination" name="destination" class="form-control">
              <option  *ngFor="let destination of destinations" [ngValue]="destination" selected>{{destination.name}}</option>
          </select>  
          <strong>datum polaska </strong>
          <input  [(ngModel)]="travelsToAdd.dateGo" type="text" class="form-control" name="dateGo"/>
          
          <strong>datum povratka </strong>
          <input [(ngModel)]="travelsToAdd.deadline"  type="text" class="form-control"  name="dateReturn" />
          
          <strong>Kategorija:</strong>
          <select  [(ngModel)]="travelsToAdd.category" name="category" class="form-control">
              
              <option *ngFor="let category of categories" [ngValue]="category" >{{category.name}}</option>
          </select>  
          
          <strong>cena</strong>
          <input [(ngModel)]="travelsToAdd.price"  type="text" class="form-control"  name="price" />
          
          <strong>plan</strong>
          <input [(ngModel)]="travelsToAdd.plan"  type="text" class="form-control"  name="plan" />
          <button type="submit" class="btn btn-info" value="save">
              Sačuvaj
          </button>
          </form>
        </div>
      </div>
    </div>
