<div class="container">
  <div class="row">
    <div class="col-md-12">
     <form (submit)="filter()" class="form form-inline">
  Kategorija
      <select name="category" [(ngModel)]="filterData.categoryId" class="form-control">
     <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
  </select>
  Cena od
    <input name="lowestPrice" [(ngModel)]="filterData.lowestPrice" type="text" class="form-control"/>
  Cena do  
  <input name="highestPrice" [(ngModel)]="filterData.highestPrice" type="text" class="form-control"/>
    <input type="submit" value="filter" class="btn btn-primary"/>
    <button class="btn btn-success" (click)="addTravel()">Dodaj</button>
    </form>
    
      <div class="pages"> 
        <button *ngIf="currentPage>0" (click)="changePage(-1)" class="btn">prev</button>
       {{currentPage}}
        <button *ngIf="currentPage <totalPages-1" (click)="changePage(1)" class="btn">next</button>
    </div>
    </div>
    
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="{{getTableClass()}}">
          <table class="table table-striped">
            <thead>
             <tr> 
             <th scope="col">#</th> 
             <th scope="col">destinacija</th>
             <th scope="col">datum polaska</th>
             <th scope="col">datum povratka</th>
             <th scope="col">kategorija</th>
             <th scope="col">cena</th>
             <th *ngIf="isLoggedIn()" scope="col">akcija</th>
             </tr>
            </thead>
            <tbody *ngFor="let t of travels">
              <tr>
              <th scope="row">{{t.id}}</th> 
              <td>{{t.destination.name}}<button class="btn btn-deafult" (click) ="showPlan(t.plan)" > plan</button></td>
              <td>{{t.dateGo}}</td>
              <td>{{t.dateReturn}}</td>
              <td>{{t.category.name}}</td>
              <td>{{t.price}}</td>
              <td *ngIf="isLoggedIn()">
                <button class="btn btn-danger" (click)="delete(t.id)">obrisi</button>
                <a class="btn btn-deafult" [routerLink]="['/add', t.id]" >izmeni</a>
              </td>
              </tr>
             
            </tbody>   
          </table>
          
              
              <p>{{plan}}</p>
           
          
             <form *ngIf= "isLoggedIn()" 
             (submit)= "addDest()">
             Ime: <input type="text" [(ngModel)] = "categoryToAdd.name" name="name">
             <input type="submit" value="dodaj Novu Destinaciju" class="btn btn-primary"/>
             </form>
        </div>
    </div>
  </div>